<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hello.mapper.UserMapper">
    <resultMap id="user" type="com.example.hello.entity.UserEntity">
        <id column="id" property="id" javaType="long" ></id>
        <result column="name" property="name" javaType="String" ></result>
    </resultMap>
    <insert id="createUser" parameterType="com.example.hello.entity.UserEntity" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO users (name) VALUES (#{name})
    </insert>
    <select id="retrieveUserById" resultMap="user">
        SELECT * FROM users WHERE id = #{id}
    </select>
    <select id="retrieveAllUsers" resultMap="user">
        SELECT * FROM users
    </select>
</mapper>